
h1{
    margin-top: 1in;
    margin-left: 0.7in;
    margin-right: 0.7in;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
}
h2{
    margin-left: 0.7in;
    margin-right: 0.7in;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    line-height: 1;
    
}
h3{
    margin-left: 0.7in;
    margin-right: 0.7in;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
    font-weight: bold;
    font-size: 12px;
    line-height: 1;
    
}
h4{
    margin-left: 0.7in;
    margin-right: 0.7in;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 2;
    
}
h5{
    margin-left: 0.7in;
    margin-right: 0.7in;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    line-height: 1;
}
h6{
   margin-right: 0.7in;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    line-height: 1; 
}
ul{
    margin-left: 1in;
    list-style-type: disc;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    line-height: 1; 
}