
h1{
    margin-top: 1in;
    margin-left: 0.7in;
    margin-right: 0.7in;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font: size 12px;
    line-height: 2;
    color: black;
}
h2{
    margin-left: 0.7in;
    margin-right: 0.7in;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 13px;
    line-height: 0.5;
    font-weight:normal;
    color: black;
    
}
h3{
    margin-left: 0.7in;
    margin-right: 0.7in;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
    font-weight: bold;
    font-size: 14px;
    line-height: 0.00001;
    color: black;
}
h4{
    line-height: 1;
    font-size: 12px;
    font-weight:normal;
    color: white;
}
h5{
    margin-left: 0.7in;
    margin-right: 0.7in;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    line-height: 0.00001;
    font-weight:normal;
    color: black;
}
h6{
   margin-right: 0.7in;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    line-height: 0.00001; 
    font-weight:normal;
    color: black;
}
ul{
    margin-left: 0.7in;
    list-style-type: disc;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    line-height: 0.00001; 
    font-weight:normal;
    color: black;
}
h7{
 margin-left: 0.7in;
    margin-right: 0.7in;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 0.00001;  
    color: black; 
}