h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
h2{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
h3{
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
    font-weight: bold;
}
h4{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    
}
h5{
    font-family: Arial, Helvetica, sans-serif;
}