h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: solid;
}
h2{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
h3{
    font-family: 'Times New Roman', Times, serif;
    text: bold;
    text-decoration: underline;
}
h4{
    font-family: 'Times New Roman', Times, serif;
    text-decoration: solid;
}
h5{
    font-family: Arial, Helvetica, sans-serif;
}