h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18px;
}
h2{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    font-size: 12px;
}
h3{
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
    font-weight: bold;
    font-size: 12px;
}
h4{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 12px;
    
}
h5{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 11px;
}