  body{
    background: lightblue;
    font-family: Arial, Helvetica, sans-serif;
  }
  h1 {
    color: red;
    text-align: center;
  }
  .projects { display:flex; flex-wrap:wrap; } 
  .project {
    width: 30%;
    margin: 10px;
    padding: 20px 10px;
    background: darkblue;
    border-radius: 25%;
    text-align: center;
  }
  .project img{
    width: 300px;
    height: 300px;
    margin: 10px, auto;
    border: 2px solid rgb(68, 0, 255)
  }
  a{
    text-decoration: none;
    color: white;
  }
  .project p{
    text-align: center;
    margin: 15px;
  }